.qwerty {
    color: blueviolet;

}
.you{
    color:blue
}
.me{
    color:aquamarine
}
.up{
    color:pink
}
.time{
    color:brown
}
.under{
    color:chocolate
}
.pop{
    color:darkgreen
}

bento orange.small{

}











